<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <item name="Mode" num="1">
    <mode name="Wait"     num="11" />
    <mode name="Rhythm"   num="12" />
    <mode name="Read"     num="13" />
    <mode name="Dance"    num="14">
      <dance name="CLC ME" num="141" />
      <dance name="Stay Tonight" num="142" /> 
    </mode>
    <mode name="手を振る" num="15" />
  </item>
  <item name="左端へ移動"   num="2" />
  <item name="右端へ移動"   num="3" />
  <item name="ランダム移動" num="4" />
  <item name="Exit"         num="0" />
</menu>
<anim>
  <item name="think2"      num="12" blink="false" breath="true" />
  <item name="look_self1"  num="13" blink="true"  breath="true" />
  <item name="look_self2"  num="14" blink="true"  breath="true" />
  <item name="dance_mini"  num="15" blink="true"  breath="true" view_cam="true" rand="15" />
  <item name="bonyari"     num="16" blink="true"  breath="true" />
  <item name="look_around" num="17" blink="true"  breath="true" />
  <item name="arm_swing"   num="18" blink="true"  breath="true" />
  <item name="stletch1"    num="19" blink="true"  breath="true" />
<!--  <item name="umauma"      num="20" blink="false" breath="true" view_cam="true"/>
  <item name="peace1"      num="21" blink="false" breath="true" />
  <item name="shiratsuyu"  num="22" blink="true"  breath="true" />
  <item name="plinz"       num="23" blink="true"  breath="true" />
  <item name="kashima"     num="24" blink="true"  breath="true" />
  <item name="hamakaze"    num="25" blink="true"  breath="true" />
  <item name="zero_two_dance" num="26" blink="true" breath="true" view_cam="true" transframe="30" /> -->
</anim>
<dance>
  <item anim_num="7"  music_path="data/music_clc.wav" />
  <item anim_num="27" music_path="data/music.wav" />
</dance>